<div class="content">
    <div class="head">
        <a href="#"><span>欢迎访问-------</span></a>
        <a href="#"><span>收藏网站</span></a>
        <a href="#"><span>登陆</span></a>
        <a href="#"><span>注册</span></a>
        <a href="#"><span>|</span></a>
        <a href="#"><span>首页</span></a>
        <a href="#"><span>短视频</span></a>
        <a href="#"><span>你猜</span></a>
        <a href="#"><span>电影</span></a>
        <a href="#"><span>电视剧</span></a>
        <a href="#"><span>动漫</span></a>
    </div>
</div>

